/* Grundlayout */

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 20px;
    color: #fff;
}


/* Überschrift */

h1 {font-family:Playful Display;
    font-size:50px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}


/* Quiz-Container */

#quiz-container {
    background-color: #101923;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}


/* Jede Frage */

.question-block {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}


/* Label-Stil für Antworten */

label {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}


/* Radio-Buttons */

input[type="radio"] {
    margin-right: 10px;
}


/* Buttons */

button {
    background-color: #366b5b;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1em;
}

button:hover {
    background-color: #f77605;
}


/* Ergebnisanzeige */

#result {
    margin-top: 30px;
    background-color: #696d75fb;
    padding: 20px;
    border-left: 5px solid #00acc1;
    border-radius: 6px;
    max-width: 800px;
    margin: 30px auto;
    font-size: 1.1em;
}


/* E-Mail-Bereich */

#email-section {
    margin-top: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #363131;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

#email {
    padding: 8px;
    width: calc(100% - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* Bestätigung */

#email-confirmation {
    color: rgb(230, 241, 230);
    margin-top: 10px;
}


/* Antwortübersicht */

#answer-summary {
    margin-top: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #49483f;
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #d4a017;
}


/* Zurücksetzen-Button */

#reset-btn {
    display: block;
    margin: 30px auto;
}


/* Startseite-Link */

a.btn.btn-secondary {
    display: block;
    text-align: center;
    margin: 40px auto 0;
    background-color: #777;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    border-radius: 6px;
}

a.btn.btn-secondary:hover {
    background-color: #424040;
}


/* Verstecken von Elementen */

.hidden {
    display: none;
}

.hidden {
    display: none;
}

.modal-box {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background: white;
    padding: 2rem;
    border: 2px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}